<footer>
    <div class="footer-links">
        <div class="footer-links-and-logo">
            <div class="footer-logo">
                <img src="../assets/images/logo.png" alt="">
                <h1>Restaurant Menu</h1>
            </div>
            <p class="footer-p">
                In the new era of technology we look a <br>
                in the future with certainty and pride to bring <br>
                for our company and.
            </p>
            <div class="fo-icons">
                <ul>
                    <li class="facebook">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/nourreldinxx/Restaurant-Menu"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pages-footer">
            <h3>Pages</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        Copyright © 2025. All Rights Reserved
    </div>
</footer>
