*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: DM Sans, serif;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #474747;
    color: #F9F9F7;
    padding: 0 150px;

}
.topbar ul{
    display: flex;
    list-style-type: none;
}
.topbar ul li{
    padding: 16px;
}
.topbar ul li a{
    color: #F9F9F7;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    background: #F9F9F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 180px;
}
header h1{
    color: #474747;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
}
header ul li{
    padding: 12px 16px;

}
header ul li a{
    text-decoration: none;
    color: #474747;
}
header ul li:hover{
    background: #DBDFD0;
    border-radius: 34px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 100vh;
}
.main-photo{
    width: 100%;
    height:800px ;
    background-image: url("../images/main-photo.png");
    background-size: cover;
    background-position: center;

}
.glow-point{
    height:800px;
    background:radial-gradient(circle, #ffffff 0%,#ffffff 15%, transparent 60%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.glow-point h1{
    color: #2C2F24;
    font-size: 96px;
    text-align: center;
    font-family: Playfair Display, serif;
}
.glow-point p{
    color: #2C2F24;
    font-size: 20px;
    text-align: center;
}
.glow-point button{
    background: #AD343E;
    border: none;
    color: #fff;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: 700 ;
    cursor: pointer;
    border-radius: 25px;
}
section h1{
    color: #2C2F24;
    font-size: 55px;
    font-family: playfair Display, serif;
    text-align: center;
    padding-bottom: 64px;

}
.browse-card-container{
    display: flex;
    gap: 32px;

}
.browse-card p{
    text-align: center;
}
.browse-card{
    border: 2px solid #DBDFD0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
.browse-card a{
    text-decoration: none;
    color: #AD343E;
    font-weight: bold;
}
.about-us{
    background: #F9F9F7;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 90px;
}
.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.about-us h1{
    text-align: start;
    padding-bottom: 0;
}
.about-us .bold{
    font-weight: 500;
    font-size: 18px;
}
.about-us button{
    align-self: flex-start;
    background: transparent;
    border: 2px solid #474747;
    padding: 20px 32px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}
.about-us button:hover{
    background: #414536;
    color: #fff;
}
.event h1{
    align-self: flex-start;
    text-align: start;
}
.event-card-container{
    display: flex;
    gap: 40px;
}
.event-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews,.event,.browse{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.review-card-container{
    display: flex;
    gap: 40px;
}
.review-card{
    background: #F9F9F7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;

}
.review-card h2{
    color: #AD343E;
}
.review-card p{
    font-size: 18px;
    color: #414536;

}
.reviewer{
    display: flex;
    align-items: center;
    gap: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: #474747;
    color: white;
}
.footer-links{
    display: flex;
    gap: 30%;
    padding: 100px 80px;
    font-size: 14px;
}
.footer-links-and-logo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-logo {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.footer-p{
    color: #ADB29E;
}
.fo-icons ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;

}
.fo-icons ul li{
    padding: 10px;
    background: #AD343E;
    border-radius: 25px;
}
.fo-icons ul li i{
    color: #fff;
}
.pages-footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.pages-footer ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}
.pages-footer ul li a{
    color: #ADB29E;
    text-decoration: none;
}
.footer-info{
    padding-bottom:50px;
    margin-top: auto;
    align-self: center;
}